.box{
    background-color: aquamarine;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

/* .flex-container{
    display: flex;
} */

/* 
.flex-container{
    display: flex;
    justify-content: center
} */

/* .flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */

/* .flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
} */

/* .flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-end;
} */

/* .flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-end;
}
.box3{
    background-color: blanchedalmond;
    align-self: center;
} */


.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-end;
    gap:10px;
}

/* 
.box3{
    background-color: blanchedalmond;
    align-self: center;
} */


/* .flex-container{
flex: 0 1 auto;
} */


.box3{
    background-color: blanchedalmond;
    align-self: center;
    flex: 1 1 auto;
}
